

.absolute {
  position: absolute;
  top: 10%;
  left: calc(50% - 250px);
  transform: rotate(-90deg);
}

h3 {
  font-size: 5rem;
}

.display {
  position: absolute;
  top: 180px;
  left: calc(50% - 130px);
}

.display-number {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 5px;
}

.display-number > small {
  display: block;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: normal;
}
