@import url('https://fonts.googleapis.com/css?family=Roboto');

$font-stack: 'Roboto', sans-serif;
$font-large: 5rem;
$font-small: 1.4rem;

// !!!!!!!!!!!COLORS!!!!!!!!!!!!!!!!!

$work-color: #3498db;
$break-color: #9b59b6;
