@import url('https://fonts.googleapis.com/css?family=Roboto');

$font-stack: 'Roboto', sans-serif;
$font-large: 5rem;
$font-small: 1.4rem;

// !!!!!!!!!!!COLORS!!!!!!!!!!!!!!!!!

$background-color: darken(#ecf0f1, 5%);
$work-color: #3498db;
$break-color: #9b59b6;
$text-color: #34495e;
$pause-color: rgba(243, 156, 18, 0.2);
$start-color: rgba(46, 204, 113, 0.2);

// !!!!!!!!!!RANGES!!!!!!!!!!

$thumb-height: 30px;
$track-height: 10px;
$thumb-margin: -10px;
